{% extends "layout.html" %}

{% block header %}
    <script src='../static/js/jquery-3.6.0.min.js'></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
{% endblock header %}

{% block content %}
    <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
        <h2>Gestion de historias clinicas</h2>
    </div>
    <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
        <div class = "col-md-4">
            <div class = "card card-body">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.diagnostico.label(class="form-control-label") }}
                        {% if form.diagnostico.errors %}
                            {{ form.diagnostico(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.diagnostico.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.diagnostico(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.diabetes.label(class="form-check-label") }}
                        {{ form.diabetes(class="form-check-input") }}
                    </div>
                    <div class="form-group">
                        {{ form.antecedentes.label(class="form-control-label") }}
                        {% if form.antecedentes.errors %}
                            {{ form.antecedentes(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.antecedentes.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.antecedentes(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.onicopatias.label(class="form-control-label") }}
                        {% if form.onicopatias.errors %}
                            {{ form.onicopatias(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.onicopatias.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.onicopatias(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.otros_datos.label(class="form-control-label") }}
                        {% if form.otros_datos.errors %}
                            {{ form.otros_datos(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.otros_datos.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.otros_datos(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.id_cliente.label(class="form-control-label") }}
                        {% if form.id_cliente.errors %}
                            {{ form.id_cliente(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.id_cliente.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.id_cliente(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <p></p>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <table id="tablaclientes" class = "table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Diagnostico</th>
                        <th>Diabetes</th>
                        <th>Antecedentes</th>
                        <th>Onicopatias</th>
                        <th>Otros Datos</th>
                        <th>Podologo</th>
                        <th>Cliente</th>
                        <th>Edicion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in historiasclinicas %}
                    <tr>
                        <td>{{i.datetime}}</td>
                        <td>{{i.diagnostico}}</td>
                        <td>
                            {% if i.diabetes %}
                                Si
                            {% else%}
                                No
                            {% endif %}
                        </td>  
                        <td>{{i.antecedentes}}</td>
                        <td>{{i.onicopatias}}</td>
                        <td>{{i.otros_datos}}</td>
                        <td>
                            {% for j in podologos %}
                                {% if j.id == i.id_empleado %}
                                    {{ j.username }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for j in clientes %}
                                {% if j.id_cliente == i.id_cliente %}
                                    {{j.username}}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td width = "130"> 
                            <a href="{{ url_for('historiaclinica.editar_historia', id_historia = i.id_historia_clinica, num = 0) }}" class = "btn btn-secondary btn-sm">Editar</a>
                            <a href="{{ url_for('historiaclinica.eliminar_historia', id_historia = i.id_historia_clinica, num = 0) }}" class = "btn btn-danger btn-delete btn-sm">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
{% block script %}
<script>
    $(document).ready( function () {
        $('#tablaclientes').DataTable();
    } );
</script>
{% endblock script %}